@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@700&family=Oxygen&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #267EA3;
    color: #FFDE21;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;

}

.start{
    background-image: url(../images/background.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
}

h1, h2{
    text-align: center;
    margin: 5vh;
}

.within{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 3% 0%;
}

h1 {
    text-decoration: underline;
}

/* .container-done{
    display: flex;
    justify-content: space-evenly;   
} */

hr {
    border-top: 8px solid #FFDE21;
    border-radius: 5px;
}

#lucky{
    height: 20vh;
    width: 10vh;
    border: solid 2px #fff;
    border-radius: 20px;
    padding: 1vh;
}
#hair{
    height: 15vh;
    width: 25vh;
}
#lemon{
    height: 20vh;
    width: 15vh;
}
#mangata{
    height: 15vh;
    width: 30vh;
}



.within img a:hover{
    transform: scale(1.2,1.2);
}

.container-constructing{
    background: url(../images/under-construction.jpg) no-repeat;
    background-size:100% 100%;
    width: 100%;
    height: 100%;
}
.nav-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    list-style-type: none;
    padding: 0 2%;
    /* border: 5px solid #fff; */
    border-radius: 20px;
    margin: 0 5%;
}


 .nav-link:hover {
    transform: scale(1.1,1.1);
} 

a, a:visited{
    color: orange;
}


@media only screen and (max-width: 768px) {
    .container-constructing{
        flex-direction: column;
        padding: 10vh 0;
    }

    .nav-link{
        margin: 2vh 0;
    }

}